email-validator==2.1.1
eventlet==0.36.1
flask==3.0.3
flask-socketio==5.3.6
flask-sqlalchemy==3.1.1
groq==0.9.0
gunicorn==23.0.0
openai==1.40.6
psycopg2-binary==2.9.9
python-dotenv==1.0.1
python-socketio==5.11.2
requests==2.32.3
sqlalchemy==2.0.32
supabase==2.7.0
werkzeug==3.0.4